/*-----STYLES OF BODY-----*/
.body {
 width: 100vw;
 height: 100vh;
 background-image: linear-gradient( to bottom, #7b7b7b,#c7c7c7, #d7d7d7);
 display: flex;
 justify-content: center;
 align-items: center;
}
/*-----END STYLES OF BODY-----*/
/*-----STYLES OF MAIN-----*/
.main {
 width: 47vw;
 height: 90vh;
 background-color: black;
 border-radius: 15px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}
/*-----END STYLES OF MAIN-----*/
/*-----STYLES OF SECTION PREDICTED ABOUT-----*/
.sectionPredictedAbout {
 background-color: transparent;
 width: 45vw;
 height: 49vh;
}
.containerPokemonAbout {
 font-family: 'Syne', sans-serif;
 width: 100%;
 height: 6vh;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding-inline: 2vw;
 color: #fff;
 font-weight: 700;
 font-size: 1.2rem;
}
.iconsInsignia {
 width: 6vw;
 height:5vh;
}
.divIdAndInsignia {
 width: 18vw;
 height: 7vh;
 display: flex;
 justify-content: flex-end;
 align-items: center;
 gap: 2vw;
 object-fit: cover;
 font-size: 1.1rem;
}
.simpleNavigationAndImagePokemon {
 padding-top: 17vh;
 width: 100%;
 height: 43vh;
 display: flex;
 justify-content: space-between;
 align-items: center;
 position: relative;
}
.simpleNavigationAndImagePokemon img {
 width: 50%; 
 height: 37vh;
 z-index: 2;
}
.simpleNavigationAndImagePokemon span:not(.wave){
 position: relative;
 display: inline-block;
 width: 0;
 height: 0;
 border-style: solid;
 scale: 0.9;
 opacity: 0.8;
 transition: 0.2s;
 cursor: pointer;
 z-index: 2;
}

.arrowRight {
 border-width: 15px 0 15px 15px;
 border-color: transparent transparent transparent rgb(255, 255, 255);
}

.arrowLeft {
 border-width: 15px 15px 15px 0;
 border-color: transparent rgb(255, 255, 255) transparent transparent;
}
.simpleNavigationAndImagePokemon span:hover {
 scale: 1;
 opacity: 1;
}
.wave {
 position: absolute;
 width: 100%;
 top: 16vh;
 height: 40vh;
 background-color: black;
 left: 0;
 border-radius: 40%;
}
/*-----END STYLES OF SECTION PREDICTED ABOUT*/
/*-----STYLES OF SECTION POKEMON CHARACTERISTICS-----*/
